
.myStlye{
    color: blue;

}
.hover head{
color: blue;
}
body {
    color: aqua;
    margin: auto;
    width: 80%;
    padding-top: 1%;
    padding-left: 5%;
    background: #121212;
}

button{
 border-spacing: 10em;
 padding-top: 5em; 
}



p{
    align-content: center;
    color: aqua;
}
h1{
    text-align: center;
    color : aqua;
}
div{
    
    align-content: center;
}
li {
  display: block;
  color: aqua;
  padding: 8px 8px;

  text-decoration: none;
}

li:hover {
  /* background-color: darkviolet;  */
  color: lightseagreen;
  
  }

  .form-control{
      width: 60%;
      align-items: center;
  }

  label{
      padding-top: 1em;
  }


  td{
      color: white;
  }
a{
     border: .2em;
    border-style: solid;
    border-radius: 1em;
    background: #191919;
}

.nav-link2{
background-color: #00f000;
}